* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 100%;
  background-color: #add8e6;
  background-image: url("https://image.freepik.com/free-vector/blue-cloudy-daylight-background-weather-design_33099-512.jpg");
  background-repeat: no-repeat, repeat;
  background-size: 55% 100%;
  background-position-x: center;
}
.input {
  text-align: center;
  margin: 30px 0;
}
input[type="text"] {
  height: 30px;
  width: 280px;
  background-color: #ffe4e1;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  padding: 10px 10px;
}
#button_for_click {
  height: 30px;
  width: 100px;
  background-color: #ffe4e1;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  border: none;
}
#display,
h4 {
  text-align: center;
}
#icon {
  height: 80px;
  width: 80px;
}
img:not([src]) {
  content: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
}
#map {
  height: 300px;
  width: 600px;
  position: relative;
  left: 350px;
  top: 35px;
}
#button_to_generate_users_current_position {
  height: 30px;
  width: 300px;
  background-color: #ffe4e1;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  border: none;
}
.loading_text {
  display: none;
  position: relative;
  top: -55px;
  left: 170px;
}
.loading_text > span {
  font-size: 25px;
  color: transparent;
  -webkit-text-stroke: 2px #262626;
  animation: 4s infinite forwards linear;
}
span:nth-child(1) {
  animation-name: fill1;
}
@keyframes fill1 {
  13% {
    color: transparent;
  }
  14.2% {
    color: #262626;
  }
  100% {
    color: #262626;
  }
}
span:nth-child(2) {
  animation-name: fill2;
}
@keyframes fill2 {
  27% {
    color: transparent;
  }
  28.4% {
    color: #262626;
  }
  100% {
    color: #262626;
  }
}
span:nth-child(3) {
  animation-name: fill3;
}
@keyframes fill3 {
  41% {
    color: transparent;
  }
  42.6% {
    color: #262626;
  }
  100% {
    color: #262626;
  }
}
span:nth-child(4) {
  animation-name: fill4;
}
@keyframes fill4 {
  55% {
    color: transparent;
  }
  56.8% {
    color: #262626;
  }
  100% {
    color: #262626;
  }
}
span:nth-child(5) {
  animation-name: fill5;
}
@keyframes fill5 {
  70% {
    color: transparent;
  }
  71% {
    color: #262626;
  }
  100% {
    color: #262626;
  }
}
span:nth-child(6) {
  animation-name: fill6;
}
@keyframes fill6 {
  84% {
    color: transparent;
  }
  85.2% {
    color: #262626;
  }
  100% {
    color: #262626;
  }
}
span:nth-child(7) {
  animation-name: fill7;
}
@keyframes fill7 {
  96% {
    color: transparent;
  }
  97% {
    color: #262626;
  }
  100% {
    color: #262626;
  }
}
